<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu cuenta</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container-account">
        <h1>Tu cuenta</h1>
        <div class="account-details">
            <p><strong>Nombre:</strong> <%= usuario.UserName %></p>
            <p><strong>Email:</strong> <%= usuario.Correo %></p>
            <p><strong>Fondos de la cuenta: </strong> <%= usuario.Fondos %></p>
        </div>            
        <a href="/editarCuenta/<%= usuario.ID %>">Editar cuenta</a>
        <a href="/iniciarSs">Cerrar sesión</a>
    </div>
    <a href="/?usuarioID=<%= usuario.ID %>">Regresar a la tienda</a>
</body>
</html>