<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu historial de compras</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container-carrito">
        <h1>Historial de Compras</h1>
        <div class="carrito-items">
            <% if(ventas.length === 0) { %>
                <p>No has realizado ninguna compra aún.</p>
            <% } else { %>
                <% ventas.forEach(function(compra) { %>
                    <div class="compra">
                        <h2>Compra ID: <%= compra.ID %></h2>
                        <p>Fecha de compra: <%= compra["fecha de compra"] %></p>
                        <ul>
                            <% compra.items.forEach(function(item) { %>
                                <li>
                                    <%= item.Nombre %> - Cantidad: <%= item.cantidad %> - Precio: $<%= item.Precio %> - Categoria: <%= item.Categoria %>
                                </li>
                            <% }); %>
                        </ul>
                        <p>Total: $<%= compra["precio total"] %></p>
                    </div>
                <% }); %>
            <% } %>
        </div>
    </div>
</body>
</html>