<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu historial de compras</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container-carrito">
        <h1>Historial de Compras</h1>
        <a href="/?usuarioID=<%= usuarioID %>" class="btn-regresar">Regresar a la tienda</a>
        <div class="carrito-items">
            <% if(!ventas || ventas.length === 0) { %>
                <p>No has realizado ninguna compra aún.</p>
            <% } else { %>
                <% ventas.forEach(function(compra) { %>
                    <div class="compra">
                        <h2>Venta ID: <%= compra.ID %></h2>
                        <p>Fecha de compra: <%= compra.fecha_de_compra %></p>
                        <p>Producto: <%= compra.producto %></p>
                        <p>Cantidad: <%= compra.cantidad %></p>
                        <p>Precio total: $<%= compra.precio_total %></p>
                    </div>
                <% }); %>
            <% } %>
        </div>
    </div>
</body>
</html>