<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agrega, modifica o elimina productos</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Agrega nuevos productos</h1>
    <form id="addProductForm" method="POST" action="/manipularProductos/agregar">
        <label for="nombre">Nombre del producto:</label>
        <input type="text" id="nombre" name="nombre" required><br>

        <label for="precio">Precio:</label>
        <input type="number" id="precio" name="precio" step="0.01" required><br>

        <label for="categoryid">Categoría ID:</label>
        <input type="number" id="categoryid" name="categoryid" required><br>

        <label for="stock">Cantidad en stock:</label>
        <input type="number" id="stock" name="stock" required><br>

        <button type="submit">Agregar Producto</button>
    </form>
    
    <h1>Modifica los productos</h1>
    <div class="container-productos">
        <% if(productos.length === 0) { %>
            <p>No hay productos registrados en este momento.</p>
        <% } else { %>
            <% productos.forEach(function(item) { %>
                <div class="caja-producto">
                    <div class="definicion-producto">
                        <h2><%= item.nombre %></h2>
                        <p>Precio: $<%= item.precio %></p>
                        <p>Categoria: <%= item.categoria %></p>
                        <p>Cantidad disponible: <%= item.stock %></p>
                    </div>
<<<<<<< HEAD
                    <form method="POST" action="/manipularProductos/eliminar/<%= item.ID %>" onsubmit="return confirm('¿Eliminar este producto?')">
                        <button type="submit" class="btn-eliminar-producto">Eliminar el producto</button>
                    </form>
=======
                    <button class="btn-eliminar-producto" data-id="<%= item.ID %>">Eliminar el producto</button>
                    <button class="btn-modificar-producto" data-id="<%= item.ID %>">Modificar el producto</button>
>>>>>>> b7c9e3485fea64301b727a836ffa3d9c679e9326
                </div>
        <% }); %>
        <% } %>
    </div>
<<<<<<< HEAD
    <h2>Regresar <a href="/">a la tienda</a></h2>
=======
    <h2 class="btn-regresar">Regresar <a href="/">a la tienda</a></h2>

    <script src="/js/productos.js"></script>
>>>>>>> b7c9e3485fea64301b727a836ffa3d9c679e9326
</body>
</html>