<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Producto</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Modifica la informacion del Producto</h1>
    <form action="/modificarProducto/<%= producto.ID %>" method="POST">
        <label for="nombre">Nombre del producto:</label>
        <input type="text" id="nombre" name="nombre" required value="<%= producto.nombre %>"><br>

        <label for="precio">Precio:</label>
        <input type="number" id="precio" name="precio" step="0.01" required value="<%= producto.precio %>"><br>

        <label for="categoryid">Categoría ID:</label>
        <input type="number" id="categoryid" name="categoryid" required value="<%= producto.categoria %>"><br>

        <label for="stock">Cantidad en stock:</label>
        <input type="number" id="stock" name="stock" required value="<%= producto.stock %>"><br>

        <button type="submit" onclick="return confirm('¿Estás seguro de que deseas guardar los cambios?')">Guardar cambios</button>
    </form>
    <h2>Regresar <a href="/manipularProductos">a la gestión de productos</a></h2>
</body>
</html>